# Name: hIPNAT
# Author: Tiago Ferreira
# URL: https://github.com/tferr/hIPNAT

##Analyze>Skeleton, "Strahler Analysis (Image-based)...", ipnat.skel.Strahler
Analyze>Skeleton, "Summarize Skeleton", ipnat.skel.SummarizeSkeleton
File>Open Samples, "Fractal Tree", ipnat.skel.LSystemsTree
Help>About, "hIPNAT plugins...", ipnat.Help
