# Name: hIPNAT
# Author: Tiago Ferreira
# URL: https://github.com/tferr/hIPNAT

Analyze>Skeleton, "Strahler Analysis...", ipnat.skel.Strahler
Analyze>Skeleton, "Summarize Skeleton", ipnat.skel.SummarizeSkeleton
File>Import, "Tracings (SWC/Traces)...", ipnat.ImportTracings
Help>About, "hIPNAT plugins...", ipnat.Help
